@model HarmoniBackendAdmin.Models.Treatment

@{
    ViewData["Title"] = "Behandlingar";
}

<h1>Behandling</h1>
<div>
    <h2>Är du säker på att du vill radera?</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentImageName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-dark m-2" /> |
        <a  class="btn btn-dark m-2" asp-action="Index">Tillbaka till alla behandlingar</a>
    </form>
</div>
