@model HarmoniBackendAdmin.Models.Booking

@{
    ViewData["Title"] = "Bokningar";
}

<h1>Bokning</h1>

<div>
    <h2>Detaljer</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatments.TreatmentCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKeyReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKeyReq)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark m-2" asp-action="Edit" asp-route-id="@Model?.Id">Ändra</a> |
    <a class="btn btn-dark m-2" asp-action="Index">Tillbaka till alla bokningar</a>
</div>
